
# Created by https://www.toptal.com/developers/gitignore/api/pycharm,django
# Edit at https://www.toptal.com/developers/gitignore?templates=pycharm,django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Pipenv
Pipfile
Pipfile.lock

### PyCharm ###
.idea/

### DBBackup ###
backups/
