{% extends 'super_user/shared/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

  <div class="col col-10 mt-5 mr-auto mx-sm-auto pt-5 pl-3 pr-4">


    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'info' %}info{% elif message.tags == 'success' %}success
            {% elif message.tags == 'warning' %}warning{% elif message.tags == 'error' %}danger{% endif %}
          alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}


    <div class="jumbotron py-4">
      <h2 class="text-center mb-4">
        محاسبه قیمت هر میلیمتر لوله

        <button class="btn btn-warning mr-auto" type="button"
                data-toggle="collapse" data-target="#collapse"
                aria-expanded="false" aria-controls="collapse">
          راهنما
        </button>
      </h2>

      <div class="collapse" id="collapse">
        <div class="card card-body">

          <p class="lead">

            این فرم برای محاسبه ی قیمت هر میلی متر لوله است.
            لوله ها با اندازه 6 متر خریداری میشوند. پس
            طول لوله 6000 میلی متر است.


            <br>
            <br>

            <strong>
              طول (به میلی متر) * :
            </strong>
            طول لوله ای که خریداری می کنید را در این قسمت وارد نمایید.
            اگر لوله ها را 6 متری خریداری می کنید در اینجا عدد 6000 را
            وارد نمایید.

            <br>
            <br>

            <strong>
              قیمت * :
            </strong>
            قیمت لوله ی مورد نظر را وارد نمایید.
            مثلا اگر لوله ی 6 متری را 200 هزار تومن میخرید در اینجا
            عدد 200000 را وارد نمایید.

          </p>

        </div>
      </div>

    </div>

    <form action="{% url 'cost:pipe_unit_price' %}" method="post" class="text-right">
      {% csrf_token %}

      <div class="row">
        <div class="col-12 col-sm-6">
          {{ form.length|as_crispy_field }}
        </div>
        <div class="col-12 col-sm-6">
          {{ form.price|as_crispy_field }}
        </div>

      </div>

      <div class="mb-5">
        <input class="btn btn-primary" type="submit" value="محاسبه">
      </div>
    </form>

    <hr>

    <div class="card text-center mb-5">
      <div class="card-header bg-success">
        نتیجه
      </div>
      <div class="card-body">
        {% if request.session.pipe_cost %}
          <h3 class="card-title text-center">
            نتیجه :
          </h3>
          <p class="card-text h4 text-center">
            {{ request.session.pipe_cost }}
          </p>
          <p class="card-text h4 text-center">
            تومان قیمت هر میلی متر لوله
          </p>
        {% else %}
          <h3 class="card-title text-center">
            فرم را پر نمایید!
          </h3>
        {% endif %}

      </div>
    </div>

  </div>

{% endblock %}
