{% extends 'super_user/shared/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

  <div class="col col-10 mt-5 mr-auto mx-sm-auto pt-5 pl-3 pr-4">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'info' %}info{% elif message.tags == 'success' %}success
            {% elif message.tags == 'warning' %}warning{% elif message.tags == 'error' %}danger{% endif %}
          alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

    <h2 class="text-center mb-4">
      لیست محصولات
    </h2>

    <div class="text-right my-4">
      <a href="{% url 'cost:product_create' %}"
         class="btn btn-success btn-lg">
        <i class="fa fa-plus" aria-hidden="true"></i>
        افزودن محصول
      </a>
    </div>

    <div class="table-responsive text-right">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            نام
          </th>
          <th>
            توضیح
          </th>
          <th>
            تعداد تولید در سال
          </th>
          <th>
            هزینه اجزا
          </th>
          <th>
            هزینه های جاری
          </th>
          <th>
            سود
          </th>
          <th>
            قیمت نهایی
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        {% for product in products %}
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.no_prod_per_year }}</td>
            <td>{{ product.components_cost }}</td>
            <td>{{ product.current_expense }}</td>
            <td>{{ product.profit_percent }} %</td>
            <td>{{ product.final_price }}</td>
            <td>
              <a href="{% url 'cost:product_update' product.pk %}" class="btn btn-primary">
                ویرایش
              </a>
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>


  </div>

{% endblock %}
